html,
body {
  padding: 0;
  margin: 20px 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.chakra-modal__content {
  margin: 5px;
}

.home-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}
