.opinions-card-wrapper {
  color: #000;
}

.group-input-wrapper {
  background-color: transparent !important;
  border: none !important;

  .chips-input {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
